.bookDetailsContainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 94px);
  gap: 45px;

  aside {
    width: 200px;

    .bookImage {
      width: 200px;
      height: 296px;
      background-color: #d9d9d9;
    }

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #8239f2;
      margin-top: 6px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      color: #494d4b;
    }

    span {
      font-weight: 400;
      font-size: 18px;
      color: #008fcc;
    }

    .starsContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 6px;
      margin-bottom: 12px;
    }

    button {
      width: 202px;
      height: 36px;
      background: #43e8be;
      border-radius: 5px;
      outline: none;
      border: none;
      color: white;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
    }
  }

  section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .ratingContainer {
      display: flex;
      align-items: center;
      margin-top: 6px;
      gap: 15px;
      margin-bottom: 18px;

      span {
        padding: 16px;
        background-color: #009933;
        border-radius: 15px;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #ffffff;
      }

      p {
        font-weight: 400;
        font-size: 28px;
        color: #494d4b;
      }
    }

    .publishedBy {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #808080;
      margin-top: 18px;
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      color: #494d4b;
    }

    .commentsList {
      h3 {
        font-weight: 400;
        font-size: 20px;
        color: black;
      }

      margin-top: 60px;
      gap: 30px;
    }
  }
}
